.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(158, 157, 157);
    justify-content: center;
    height: 100vh;
   
     
}

.menu_icon {
    width: 465px;
    height: 156px;
    position: relative;
    text-align: center;
}

.inside_div {
    width: 50px;
    height: 50px;
    margin: 10% auto;


}

.par{
    margin-top: 8px;
}